@model Event
@{
    ViewData["Title"] = "Detail";
}


<div class="container my-5">
    <div class="card">
        <h5 class="card-header">Table Basic</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                <th> Name </th>
                <th> Location </th>
                <th> Publish Date </th>
               
                </tr>
            </thead>
            <tbody>

                    <tr>
                        
                        <td>
                            @Model.Name
                        </td>
                        <td style="white-space:normal">
                            @Model.Location
                        </td>
                        <td style="white-space:normal">
                            @Model.PublishedDate
                        </td>
                       

                    </tr>  


            </tbody>
            </table>
        </div>

    </div>
    <a class="btn btn-info mt-5" asp-action="Index">Back to main page</a>


</div>



