@model IEnumerable<Event>

@{
    ViewData["Title"] = "Index";
}


<div class="container my-3">
    <a class="btn btn-success" style="float: right;" asp-action="Create">Create</a>

</div>
<div class="container my-5">


    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Status </th>
                        <th> Operations </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var events in Model)
                    {
                        <tr>
                            <td class="title">
                                   @events.Name
                            </td>
                            <td>
                                @if (events.SoftDelete)
                                {
                                    <div class="deActive-status"></div>
                                }
                                else
                                {
                                    <div class="active-status"></div>
                                }
                            </td>
                            <td>
                                <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@events.Id">Info</a>
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@events.Id">Edit</a>
                                <a class="btn btn-outline-danger">Delete</a>
                            </td>


                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>

